.title{
    font-size: 30px;
    font-weight: 700;
    position:relative;
    padding-left: 20px;
}

.title::after{
    position:absolute;
    content: "";
    height: 70%;
    width: 4px;
    left: 0;
    top: 12px;
    background: #40409a;
}



.offer-card {
    width: 315px;
    height: 180px;
    border: 1px solid;
    border-radius: 10px;
    margin-left: 12px;
}

.offer-card-img img{
    width: 100px;

} 



.offer-card-text {
    line-height: 17px;
}